* {
    background: #62306D;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(2);
}
.a1 {
    width: 40px;
    height: 140px;
    background: #FEF9CA;
    transform: skew(-20deg);
    position: absolute;
    top: 80px;
    left: 100px;
}
.a2 {
    width: 40px;
    height: 140px;
    background: #C5B732;
    transform: skew(20deg);
    position: absolute;
    top: 80px;
    left: 160px;
}
.a3 {
    width: 50px;
    height: 50px;
    background: #E38F66;
    transform: skew(-38deg);
    position: absolute;
    top: 169.5px;
    left: 100px;
}
.a4 {
    width: 50px;
    height: 50px;
    background: #AA445F;
    transform: skew(38deg);
    position: absolute;
    top: 169.5px;
    left: 150px;
}